<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7Xsd0xlAmy2-NVJ1ru202pWtBSUiZbtM</string>
	<key>GCM_SENDER_ID</key>
	<string>516585813940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.syntaxinstitut.PreflightService</string>
	<key>PROJECT_ID</key>
	<string>skycodealliance</string>
	<key>STORAGE_BUCKET</key>
	<string>skycodealliance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516585813940:ios:72d3a1583c2367cf16e4e1</string>
</dict>
</plist>